h2 {
  padding: 0 1%;
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.cell {
  flex: 0 0 32%;
  height: 100px;
  margin-bottom: 5px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
